# Java / Spring Boot
/target/
*.iml
*.class
*.log
*.jar
*.war
*.db
/.idea/
*.swp

# Node/React
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode
.vscode/